.resume-page {
  @apply p-mobile-content pb-desktop-content;
  @apply relative;

  @screen lg {
    @apply px-desktop-content;
  }

  > .page-title {
    @apply text-skin-primary font-medium text-xl;
    @apply mb-4;

    @screen lg {
      @apply text-4xl;
    }
  }

  > .content-container {
    @apply divide-y divide-skin-disabled;

    > .section {
      @apply py-4;
      &:first-child {
        @apply pt-0;
      }

      > .date {
        @apply text-sm text-skin-base text-opacity-80;
        @screen lg {
          @apply text-base;
        }
      }

      > .title {
        @screen lg {
          @apply text-lg;
        }
      }

      > .description-container {
        @apply mt-2;

        > * {
          &::before {
            @apply text-sm text-skin-warning font-bold;
            @apply mr-2;
            content: "*";
          }
        }
      }
    }
  }

  > .to-top-cta-container {
    @apply fixed left-4;
    bottom: calc(4rem + 0.5rem); // ! footer height + some padding

    @screen lg {
      @apply bottom-4;
      left: calc(16rem + 1rem); // ! sidebar width + some padding
    }

    > .to-top-cta {
      @apply w-12 h-12 p-2;
      @apply text-lg;

      @screen lg {
        @apply w-16 h-16 p-3;
        @apply text-2xl;
      }

      > .dd-icon {
        @apply mr-0;
      }
    }
  }
}
