$focused-position: calc(100% + 0.5rem);
$start-y-translate: 2rem;

.project-page {
  @apply p-mobile-content pb-desktop-content;
  @apply relative;

  @screen lg {
    @apply px-desktop-content;
  }

  > section {
    @apply mb-8;

    > .page-title {
      @apply text-skin-primary font-medium text-xl;
      @apply mb-4;

      @screen lg {
        @apply text-4xl;
      }
    }

    > .project-list {
      @apply flex flex-wrap gap-4;

      > .card-container {
        @apply w-full;
        aspect-ratio: 2 / 1;

        @screen md {
          @apply w-72;
        }

        @screen lg {
          @apply w-96;
        }

        > .project-card {
          @apply w-full h-full;
          @apply duration-200;
          @apply rounded-lg;
          @apply relative;
          transform: translateY($start-y-translate);
          animation: slide-in 0.5s ease-in-out forwards;

          &--blur {
            @apply filter blur-sm;
          }

          > .description-container {
            @apply absolute left-0 bottom-0;
            @apply pointer-events-none;
            @apply w-full min-h-full;
            @apply bg-skin-default;
            @apply duration-200;
            @apply rounded-md;
            @apply opacity-0;
            @apply shadow-lg;
            @apply p-2 px-4;

            &--focused {
              @apply pointer-events-auto;
              @apply opacity-100;
            }

            > .title {
              @apply text-lg font-medium;
              @apply mb-2;
            }

            > *:not(.title)::before {
              @apply text-skin-warning;
              @apply mr-2;
              content: "*";
            }
          }

          > .project-image {
            @apply absolute top-0 left-0;
            @apply brightness-[0.1];
            @apply bg-skin-default;
            @apply w-full h-full;
            @apply duration-200;
            @apply rounded-lg;
            @apply shadow-lg;

            &--focused {
              top: $focused-position;
            }
          }

          > .content {
            @apply h-full max-w-full w-full;
            @apply absolute top-0 left-0;
            @apply duration-200;
            @apply p-2 px-4;

            &--focused {
              top: $focused-position;
            }

            > .title {
              @apply text-gray-50 text-lg font-medium;
              @apply mb-2;

              > a {
                @apply flex justify-between items-center;
                @apply underline;

                > p {
                  @apply truncate;
                  @apply mr-2;
                }
              }
            }

            > .techstack-container {
              @apply text-gray-50;

              > * {
                @apply select-all;
                @apply flex;

                &:not(:last-child) {
                  @apply mb-1;
                }

                > .icon {
                  @apply mr-2;
                }
              }
            }
          }

          > .more-info-cta {
            @apply absolute right-4 bottom-4;
            @apply text-xl text-gray-50;
            @apply p-0 pl-8;
            @apply z-50;

            &:focus,
            &:hover {
              @apply text-skin-primary;
            }

            > .dd-icon {
              @apply mr-0;
            }
          }
        }
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateY($start-y-translate);
  }
  100% {
    transform: translateY(0);
  }
}
